<h1>All Jobs Available </h1>

<table>
  <thead>
    <tr>
      <th>url</th>
      <th>employer</th>
      <th>employer_description</th>
      <th>job_title</th>
      <th>job_description</th>
      <th>years of experience</th>
      <th>education_requirement</th>
      <th>industry</th>
      <th>base_salary</th>
      <th>employment_type_id</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.url %></td>
        <td><%= job.employer_name %></td>
        <td><%= job.employer_description %></td>
        <td><%= job.job_title %></td>
        <td><%= job.job_description %></td>
         <td><%= job.years_of_experience%></td>
        <td><%= job.education_requirement %></td>
        <td><%= job.industry %></td>
        <td><%= job.base_salary %></td>
        <td><%= job.employment_type_id %></td>
        <td><%= link_to "Show", "/jobs/#{job.id}" %></td>
      </tr>
      <% end %>
</table>



