
<p><%= @job.url %></p>
<p><%= @job.employer_name %></p>
<p><%= @job.employer_description %></p>
<p><%= @job.job_title %></p>
<p><%= @job.job_description %></p>
<p><%= @job.years_of_experience%></p>
<p><%= @job.education_requirement %></p>
<p><%= @job.industry %></p>
<p><%= @job.base_salary %></p>
<p><%= @job.employment_type_id %></p>
   

